<h1>Europeans</h1>

<table>
  <thead>
    <tr><th>Date</th><th>Name</th><th></th></tr>
  </thead>
  <tbody>
    <% for (let i = 0, len = europeans.length; i < len; i++) { %>
      <tr>
        <td><%= europeans[i].date %></td>
        <td><%= europeans[i].name %></td>
        <td>
          <a href="/<%= europeans[i]._id %>/delete">Delete</a>
          &nbsp;
          <a href="/<%= europeans[i]._id %>">Show</a>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<div>
  <a href="/new">New European</a>
</div>
