<h1>New European</h1>

<form action="/" method="POST">
  <div>
    <label>
      Date:
      <input name="date" type="date" value="2019-03-05" />
    </label>
  </div>
  <div>
    <label>
      Name:
      <input name="name" value="Пупкін Василь" />
    </label>
  </div>
  <div>
    <label>
      Details:
      <textarea name="details">Це був сірий пасмурній ранок</textarea>
    </label>
  </div>
  <input type="submit" value="Submit" />
</form>

<div>
  <a href="/">Back</a>
</div>
