<h1>European</h1>

<dl>
  <dt>Date: </dt><dd><%= european.date %></dd>
  <dt>Name: </dt><dd><%= european.name %></dd>
  <dt>Details: </dt><dd><%= european.details %></dd>
</dl>

<div>
  <a href="/">Back</a>
  &nbsp;
  <a href="/<%= european._id %>/delete">Delete</a>
</div>
